<hr>
<script type="text/javascript">

$(function(){

        $('#check-all').change(function(e) {
            if (this.checked) {
                $('.product-select').each(function() {
                    this.checked = true;
                });
            } else {
                $('.product-select').each(function() {
                    this.checked = false;
                });
            }
        });

        $('#products_actions form button').click(function(e){
            e.preventDefault();

            var count = $("#listing_products .product-select:checked").length;
            if (!count) {
                alert('<%= t(:select_products) %>');
                return false;
            }
            form = $(this).parent().parent().attr('id');
            formId.children('input[type=checkbox]').remove();
            $('#listing_products .product-select').clone().appendTo(formId).hide();

            formId.submit();
        });

});

</script>

<%
@taxon = params[:q][:have_taxon].present? ? Spree::Taxon.find(params[:q][:have_taxon]) : Spree::Taxon.find_by_name(t(:categories))
%>

<div id="products_actions" class="box">
  <h3><%= t(:taxons) %></h3>
<% Spree::Taxon.where('parent_id IS NULL').each do |category| %>
  <%= form_tag admin_edit_multiple_products_path(category), :id => "product_ids_form_#{category.id}", :method => :put do %>
    <label><%= category.name %></label>
    <p>
      <% options_for_taxon = [] %>
      <% category.children.each_with_level(category.children.map{ |root|root.self_and_descendants}.flatten) { |tax, level| options_for_taxon << "<option value='#{tax.id}'>#{'&nbsp;&nbsp;' * level}#{tax.name}</option>" } %>
      <%= select_tag :add_taxon, options_for_taxon.join.html_safe, :style => "width:100%" %>
    </p>
    <p class="form-buttons">
        <%= button t(:update) %>
    </p>
  <% end -%>
<% end %>
</div>
